<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chūnin Exam Generator</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Chūnin Exams Generator</h1>
  <h2>Add a person and see which Naruto character they are gonna fight this Chūnin Exam!</h2>
  <section>
    
    <span id = "usr-player"><%= matchup[matchup.length-1].player %></span>
    <span>VS.</span>
    <span id = "bot-player"><%= matchup[matchup.length-1].opponent %></span>
    <button id = "random-btn" type="button">Random MatchUp</button>
  </section>

  <ul class="messages">
    <h3>Match Up</h3>
        <% for(var i=0; i < matchup.length; i++) {%>
          <li class="message">
      
              <span><%= matchup[i].player %></span> 
              <span>vs</span>
              <span><%= matchup[i].opponent %></span>
              <span id ="trash"><i class="fa fa-trash" aria-hidden="true"></i></span>
          </li>
       <% } %>
  </ul>

  <h2>Add your freinds</h2>

  <form action="/arena" method="POST">
    <input type="text" placeholder="opponent" name="player">
    <button type="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>
</html>
